.collection-header .banner__box {
  padding: 0;
}
.collection-header .banner.banner--no-image {
  min-height: auto;
}
.collection-header .banner__heading {
  color: inherit;
}
.collection-header .banner--no-image .banner__box {
  color: var(--color-base-text) !important;
}
.collection-header .button {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--gradient-base-accent-1);
}
.collection-header .button:after {
  content: none;
}



@media screen and (max-width: 749px) {
  .collection-header .banner__box {
    display: none;
  }

  .banner {
    min-height: 200px;
  }

  .banner__content--mobile {
    background: #0565CE;
    color: #FFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .banner__heading {
    margin: 0;
  }
}