.collection-header .banner__box {
  padding: 0;
}
.collection-header .banner--no-image .banner__heading {
  --color-foreground: var(--color-base-text);
}

@media screen and (max-width: 749px) {
  .collection-header .banner__content {
    display: none;
  }
  .collection-header .banner__media {
    position: static;
  }
}