.sticky-banner {
  background: #FFF;
  width: 100%;
}

.sticky-banner.fixed {
  position: fixed;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  z-index: 100;
  visibility: visible;
  transition: transform 0.15s ease-out;
}

sticky-banner.hide .sticky-banner {
  transition: transform 0.15s ease-out;
  transform: translateY(-150px);
}

sticky-banner .sticky-banner.fixed {
  top: 0;
}

@media screen and (min-width: 750px) {
  .sticky-banner.fixed {
    top: 0;
  }
}

.sticky-banner__container {
  display: grid;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  padding: 1rem;
  grid-template-columns: fit-content(100px) 1fr fit-content(300px);
}

.sticky-banner__image img {
  width: 72px;
  height: 72px;
  object-fit: cover;

}

.sticky-banner__text {
  justify-self: start;
}

.sticky-banner__title {
  font-size: 1.5rem;
}

.sticky-banner__quantity {
  width: 8rem;
  margin-right: 2.2rem;
}

.sticky-banner__quantity:after {
  border-radius: 5px;
}

.sticky-banner__quantity .quantity__button {
  width: 1.7rem;
  height: 1.5rem;
  position: absolute;
  right: 10px;
  color: #B8B8B8;
  margin: 0;
  z-index: 1;
}

.sticky-banner__quantity .quantity__button[name="plus"] {
  top: 8px;
  transform: rotate(180deg);
  right: 9px;
}

.sticky-banner__quantity .quantity__button[name="minus"] {
  bottom: 8px;
}

.sticky-banner__quantity .quantity__input {
  font-size: 1.8rem;
  color: #000;
  padding-right: 30px;
  width: 33%;
}

.sticky-banner .price {
  display: inline;
}

.sticky-banner .product-form__buttons {
  font-weight: bold;
  color: #FFF;
}

.sticky-banner .product-form {
 width: 100%;
}

.sticky-banner .product-form__buttons .price {
  color: #FFF;
}

.sticky-banner__buttons .product-form__form {
  display: flex;
}

.button.loading .price {
  color: transparent;
}

.sticky-banner__title {
  margin: 0;
}

.sticky-banner__text strong {
  color: #0565CE;
}

.sticky-banner__eyebrow {
  font-weight: bold;
}

.sticky-banner p {
  margin: 0;
  font-size: 1.3rem;
}

.sticky-banner .button--round {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  background: #0565CE;
  display: flex;
  color: #FFF;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sticky-banner .button--round .icon-arrow {
  transform: rotate(90deg);
  font-size: rem;
}

sticky-product .sticky-banner__container {
  justify-items: end;
}

@media screen and (min-width: 750px) {
  .sticky-banner {
    padding: 0 5rem;
  }

  .sticky-banner .product-form {
    max-width: 44rem;
  }

  .sticky-banner__container {
    grid-template-columns: fit-content(100px) 1fr fit-content(400px);
  }

  .sticky-banner__title {
    font-size: 2rem;
  }

  .sticky-banner__buttons .product-form__form {
    justify-content: space-between;
  }

  .sticky-banner__image img {
    width: 100px;
    height: 100px;
  }
}