.modal-video {
  background: rgba(0,0,0, 0.8);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.modal-video[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.modal-video__content {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 100%;
}

.modal-video__toggle {
  align-items: center;
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  color: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 0 0 auto;
  position: fixed;
  right: 0.5rem;
  top: 2rem;
  width: 4rem;
  z-index: 2;
  background-color: transparent;
}

.media > .modal-video__text {
  z-index: 5;
  color: #FFF;
  margin-bottom: 10rem;
  display: block;
}

@media screen and (min-width: 750px) {
  .modal-video__toggle {
    right: 4.8rem;
    top: 15.5rem;
  }
}

@media screen and (min-width: 990px) {
  .modal-video__toggle {
    right: 4.3rem;
    top: 15rem;
  }
}

.modal-video__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.modal-video__content-info {
  margin: 0 auto;
  height: calc(100% - 6rem);
}

.modal-video__content-info deferred-media {
    margin: 0 auto;
    max-height: 50vh;
    padding-top: 15rem;
}

@media screen and (min-width: 750px) {
  .modal-video__content-info deferred-media {
    width: calc(100% - 8.6rem);
  }
}

@media screen and (min-width: 990px) {
  .modal-video__content-info {
    height: calc(100% - 7rem);
    padding-top: 20rem;
  }

    .modal-video__content-info deferred-media {
      margin: 0 auto;
      width: calc(100% - 8.6rem);
      max-height: 80vh;
      padding-top: 0;
    }

}

.modal-video__video,
.modal-video__video iframe {
  height: 100%;
  width: 100%;
}

.modal-video__video iframe {
  position: static;
  border: 0;
}

@media screen and (max-width: 750px) {
  .modal-video .sticky-product.fixed {
    bottom: 0;
  }

  .modal-video .sticky-product .sticky-product__container {
    grid-template-columns: 100px 1fr;
  }

  .modal-video .sticky-product .sticky-product__container.image-hide {
    grid-template-columns: 2fr 1fr;
    justify-items: end;
  }

  .modal-video .sticky-product .sticky-product__container.image-hide > .sticky-product__image {
    display: none;
  }

  .modal-video .sticky-product .image-hide .sticky-product__buttons {
    grid-column: span 1;
  }

  .modal-video .sticky-product .sticky-product__buttons {
    grid-column: span 2;
  }

  .sticky-product__buttons .product-form__form {
    justify-content: space-between;
  }
}
