.logo-cloud-list {
  --horizontal-spacing: 60px;
  padding: 0 1.5rem;
  margin: 0;
  list-style: none;
  display: flex;
  gap: var(--horizontal-spacing);
  align-items: center;
  overflow: scroll;
  justify-content: flex-start;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: grab;
}

.logo-cloud-list:active {
  cursor: grabbing;
}

.logo-cloud-list::-webkit-scrollbar { 
  display: none;
}

.logo-cloud-list__item {
  min-width: calc((90% / 2) - var(--horizontal-spacing));
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 750px) {
  .logo-cloud-list {
    --horizontal-spacing: 80px;
  }
  .logo-cloud-list__item {
    min-width: calc((96% / 7) - var(--horizontal-spacing));
  }
}