.pdp-atc-hero__heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.pdp-atc-hero__text {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.pdp-atc-hero__text strong {
  color: var(--gradient-base-accent-1);
}
.pdp-atc-hero__product-form-container {
  display: flex;
  align-items: center;
}
.pdp-atc-hero__quantity {
  width: 8rem;
  margin-right: 2.2rem;
}
.pdp-atc-hero__quantity:after {
  border-radius: 5px;
}
.pdp-atc-hero__quantity .quantity__button {
  width: 1.7rem;
  height: 1.5rem;
  position: absolute;
  right: 10px;
  color: #B8B8B8;
  margin: 0;
  z-index: 1;
}
.pdp-atc-hero__quantity .quantity__button[name="plus"] {
  top: 8px;
  transform: rotate(180deg);
  right: 9px;
}
.pdp-atc-hero__quantity .quantity__button[name="minus"] {
  bottom: 8px;
}
.pdp-atc-hero__quantity .quantity__input {
  font-size: 1.8rem;
  color: #000;
  padding-right: 30px;
}
.pdp-atc-hero__product-form-container .product-form {
  flex-grow: 1;
}
.pdp-atc-hero__product-form-container .product-form .product-form__submit {
  font-weight: 700;
  font-size: 1.6rem;
  min-height: 5.4rem;
  background-color: var(--gradient-base-accent-1);
  margin: 0;
}
.pdp-atc-hero__product-form-container .product-form .product-form__submit:after {
  box-shadow: none;
}
.pdp-atc-hero__media {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  border: none;
}

@media screen and (max-width: 749px) {
  .pdp-atc-hero {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }
}

@media screen and (min-width: 750px) {
  .pdp-atc-hero__text {
    margin-bottom: 4rem;
  }
  .pdp-atc-hero__product-form-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .pdp-atc-hero__quantity .quantity__button[name="plus"] {
    right: 10px;
  }
}