.featured-collections__heading,
.featured-collections__description {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.featured-collections__description {
  margin-bottom: 3.5rem;
}

.featured-collections__description p {
  margin: 0;
}

.featured-collections__description strong {
  color: #0565CE;
}

.featured-collections__slider {
  --grid-mobile-horizontal-spacing: 17px;
}
.featured-collections__slider .grid--peek.slider .grid__item:first-of-type {
  margin-left: 35px;
}
.featured-collections__slider .grid--peek.slider .grid__item:last-of-type {
  margin-right: 35px;
}
.featured-collections__slider .slider.slider--tablet {
  scroll-padding-left: 35px;
}
.featured-collections__slider .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) - 28px);
}

.card--featured-collections .card__inner {
  --card-corner-radius: 8px;
}
.card--featured-collections .card__inner .card__content {
  display: block;
  padding: 13px;
}
.card--featured-collections .card__information {
  padding: 0;
}
.card--featured-collections .card__heading {
  color: var(--collection-name-color);
  font-size: calc(var(--font-heading-scale) * 1.6rem);
  text-shadow: 0px 2px 28px rgba(0, 0, 0, 0.5);
}

.featured-collections__slider .slider-counter {
  display: none;
}
.featured-collections__slider .slider-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  justify-content: space-between;
}
.featured-collections__slider .slider-button {
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  color: #0565CE;
  border-radius: 50%;
}
.featured-collections__slider .slider-button--prev {
  margin-left: 24px;
}
.featured-collections__slider .slider-button--next {
  margin-right: 24px;
}

.featured-collections__view-all {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 3.3rem;
}
.featured-collections__view-all .button {
  background-color: #0565CE;
  border: none;
}
.featured-collections__view-all .button:before,
.featured-collections__view-all .button:after {
  content: none;
}